{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>


	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/1.jpg' %}">
		</div>

		<h3>Portfolio</h3>

		<p>Strona została stworzona przy użyciu frameworka Django, zawierającego wbudowany formularz kontaktowy,
			sporo HTML/CSS i szczyptę JavaScirpt (tryby wyświetlania).
			Pomimo pierwszych kroków, jestem zadowolony z efektu wizualnego, prostoty i czytelności strony.
		<br>
		<br>
		Cały kod jest dostępny na GitHubie. <a target="blank" href="https://github.com/maciejwrobel/portfolio">Tutaj</a>
		<br>
		</p>
		<h5>Technologie:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- JavaScirpt</li>
        </ul>


	</div>

</body>
</html>