{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/eng">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>


	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/1.jpg' %}">
		</div>

		<h3>Portfolio Website</h3>

		<p>I have made this website using Django framework, including an email contact form, bunch of HTML/CSS
			and just a little of JavaScript (display modes).
			Despite, my first steps, I am pleased with the visual effect, simplicity and readability.
		<br>
		<br>
		To see the actual code, visit my github. <a target="blank" href="https://github.com/maciejwrobel/portfolio">Here</a>
		<br>
		</p>
		<h5>Technologies:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- Javascript</li>
        </ul>


	</div>

</body>
</html>