{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>


	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/2.jpg' %}">
		</div>

		<h3>Menadżeer Finansów Zespołów</h3>

		<p>Celem tej aplikacji jest dostarczenie narzędzi, które w prosty, intuicyjny sposób ułatwią zespołom muzycznym:
		<br>
		<br>
			- Przeanalizować otrzymaną ofertę.
		<br>
			- Wycenić zlecenia, uwzględniając zmienne warunki.
		<br>
			- Podzielić przychody, uwzględniając poniesione koszta.

		<br>
		<br>
			Ponadto, po zalogowaniu się, aplikacja daje możliwość utowrzenia profili poszczególnych zespołów, wprowadzenie i edycję stałych danych,
			aby jeszcze bardziej przyspieszyć wykonywanie odpowiednich obliczeń.
		<br>
		<br>
			Work in progress.
		<br>
		<br>
		Kod jest dostępny na GitHubie. <a target="blank" href="https://github.com/maciejwrobel/band-finances">Tutaj</a>
		<br>

		<h5>Technologie:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- CRUD</li>

        </ul>


	</div>

</body>
</html>