{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/eng">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>

		<ul id="navigation">
			<li><a href="index.html#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/2.jpg' %}">
		</div>

		<h3>Tytuł projektu</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio enim itaque nobis odio, officiis placeat quaerat qui suscipit. Amet animi eaque laborum nam nostrum! Fugiat fugit maxime veritatis! In, soluta.
		<br>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum dignissimos hic incidunt ipsam itaque laboriosam maxime molestiae necessitatibus nobis odit optio reiciendis reprehenderit, sint, sunt tenetur vel voluptatibus voluptatum?
		<br>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab error itaque nobis nostrum nulla optio quae repudiandae. Architecto asperiores, consequatur, debitis delectus doloremque facilis fugiat hic libero quia repellendus voluptas!
		<br>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ducimus facilis quia sequi velit! Amet commodi, culpa dignissimos dolorum hic nobis non porro quia repudiandae similique ullam, unde. Consectetur, tempore!
		<br>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi dolorum eius, eos incidunt magnam nesciunt nihil nisi, qui quos ratione recusandae, reiciendis rem sint tempore? Dicta et quas sit.
		<h5>Technologie:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
        </ul>


	</div>

</body>
</html>