{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/eng">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>


	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/2.jpg' %}">
		</div>

		<h3>Band Finances Manager</h3>

		<p>The goal of this application is to provide tools that will help music bands in a simple, intuitive way:
		<br>
		<br>
			- Analyzing recieved offer.
			<br>
			- Order valuation, taking changing conditions into consideration.
			<br>
			- Divide the income, after deducating the costs incurred.
		<br>
		<br>
			In addition, after logging in, the application allows you to create profiles of individual bands,
			enter and edit permanent data to further speed up the performance of appropriate calculations.
		<br>
		<br>
			Work in progress.
		<br>
		To see the actual code, visit my GitHub. <a target="blank" href="https://github.com/maciejwrobel/band-finances">Here</a>
		<br>
		<h5>Technologies:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- CRUD</li>
        </ul>


	</div>

</body>
</html>