{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>


	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/3.jpg' %}">
		</div>

		<h3>Gra 2048</h3>

		<p>2048 – gra logiczna stworzona przez włoskiego programistę Gabrielego Cirulli.
			Celem gry jest takie przesuwanie i łączenie pojawiających się na planszy klocków,
			aby utworzyć klocek z liczbą 2048, jednak, można kontynuować grę po osiągnięciu celu,
			aby utworzyć klocki z w większymi liczbami.
			Rozgrywka 2048 odbywa się na planszy podzielonej na kratki o wymiarach 4×4.
			Klocki z numerami przesuwają się w kierunku, który wskazał gracz.
			Poruszają się, dopóki nie natrafią na koniec planszy lub inną przeszkodę.
			Jeżeli dwa klocki o tej samej wartości połączą się w czasie ruchu,
			stworzą jeden klocek o wartości ich sumy.

		<br>
		<br>
		Ta wersja została napisana w języku Python, używając biblioteki Tkinter.
		W ramach dodatku relaksacyjnego, w tle gra muzyka, autorstwa mojego zespołu.
		<br>
		<br>
		Pozwól sobie na rundkę :)
		<br>
		<br>

		Kod jest dostępny na GitHubie. <a target="blank" href="https://github.com/maciejwrobel/2048">Tutaj</a>
		<br>
		<h5>Technologie:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
        </ul>


	</div>

</body>
</html>