{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">


		<a href="/eng">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>

			</div>
		</a>

		<ul id="navigation">
			<li><a href="index.html#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="img-container">
			<img src="{% static 'images/3.jpg' %}">
		</div>

		<h3>2048 Game</h3>

		<p>2048 is a single-player sliding block puzzle game designed by Italian web developer Gabriele Cirulli.
			The objective of the game is to slide numbered tiles on a grid to combine them to create a tile
			with the number 2048, however, one can continue to play the game after reaching the goal,
			creating tiles with larger numbers.
			It is played on a 4x4 grid using the arrows.
			Every time you press a key - all tiles slide.
			Tiles with the same value that bump into one-another are merged.
		<br>
		<br>
			This version was developed using Python and Tkinter module.
			As a relaxing addition, music plays in the background, and the performer is my own band.
		<br>
		<br>
			Look after Your inner child and allow yourself play the game :)
		<br>
		To see the actual code, visit my GitHub. <a target="blank" href="https://github.com/maciejwrobel/2048">Here</a>
		<br>

		<h5>Technologies:</h5>
		<ul>
			<li>- Python</li>
			<li>- Tkinter</li>
			<li>- Winsound</li>
        </ul>


	</div>

</body>
</html>