{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maciej Wróbel</title>

    <meta name="viewport" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

    <link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css">

    <link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Cześć !</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <a href="http://127.0.0.1:8000/eng">
                        <img id="dot-2" class="browser-dot" src="{% static 'images/GB.png' %}">
                    </div>

                    <ul id="navigation">
                        <li><a href="#contact-form">Kontakt</a></li>

                    </ul>

                </div>

                <div class="left-column">
                    <img id="profile_pic" src="{% static 'images/WROBEL2.jpg' %}">
                    <h5 style="text-align: center;line-height: 0;">Maciej Wróbel</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                    </div>
                    <p id="settings-note">Tryb nocny</p>
                </div>

               <div class="right-column">

					<div id="preview-shadow">
						<div id="preview">

							<h3>Junior Python Developer</h3>


						</div>
					</div>
				</div>
			</div>
		</div>
    </section>

    <section class="s2">
        <div class="main-container">

            <div class="about-wrapper">
                <div class="about-me">
                    <h4>Więcej o mnie</h4>

                    <p>Ukończyłem kurs programowania w języku Python i
                        szukam możliwości zdobycia pierwszego komercyjnego doświadczenia
                        w branży IT.</p>
                    <p>Jestem otwartym i kreatywnym człowiekiem, stale uczę się nowych technologii i chcę
                        doskonalić swoje umiejętności.</p>
                    <p><a target="blank" href="static/cv/CV.pdf">Moje CV</a></p>


                    <hr>

                    <h4>O Kursie</h4>

                    <p>Organizatorem stacjonarnego kursu było Software Development Academy.
                        'Python od podstaw' trwał 311h, w okresie 11.2019-09.2020. </p>
                    <p>Zakres kursu:</p>

                    <div id="skills">
                        <ul>
                            <li>Python</li>
                            <li>GIT</li>
                            <li>MySQL</li>
                            <li>NoSQL</li>
                            <li>TDD</li>
                        </ul>

                        <ul>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>HTML/CSS</li>
                            <li>JavaScript</li>
                            <li>SCRUM</li>
                        </ul>

                    </div>

                </div>

                <div class="social-links">
                    <img id="social_img" src="{% static 'images/obrazek.jpg' %}">
                    <h4> Social Media</h4>

                    <a target="_blank" href="https://www.linkedin.com/in/maciej-wr%C3%B3bel-7707b419b/">
                         <img class="social" src="{% static 'images/ln.png' %}">
                    </a>
                    <a target="_blank" href="https://github.com/maciejwrobel">
                         <img class="social" src="{% static 'images/githubjpg.jpg' %}">
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">Moje projekty</h3>

            <div class="post-wrapper">
                <div>
                    <div class="post">
                        <img class="thumbnail" src="{% static 'images/1.jpg' %}">
                        <div class="post-preview">
                            <h6 class="post-title">Moja strona</h6>
                            <p class="post-intro">Strona - wizytówka, na której się teraz znajdujesz.</p>
                            <a href="/1">Więcej</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post">
                        <img class="thumbnail" src="{% static 'images/2.jpg' %}">
                        <div class="post-preview">
                            <h6 class="post-title">Menadżer Finansów Zespołów</h6>
                            <p class="post-intro">Dla wszystkich, którym proponowano 'zagranie koncertu za piwo'.</p>
                            <a href="/2">Więcej</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post">
                        <img class="thumbnail" src="{% static 'images/3.jpg' %}">
                        <div class="post-preview">
                            <h6 class="post-title">Gra 2048</h6>
                            <p class="post-intro">Prosta, ale wciągająca gra logiczna, żeby pozwolić sobie na chwilę odpoczynku.</p>
                            <a href="/3">Więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Bądźmy W Kontakcie</h3>

            <form action="https://formspree.io/mwkwkawb" method="POST" id="contact-form">
                {% csrf_token %}
                <label>Imię</label>
                <input class="input-field" type="text" name="name" required>

                <label>Temat</label>
                <input class="input-field" type="text" name="subject" required>

                <label>Email</label>
                <input class="input-field" type="text" name="_replyto" required>

                <label>Treść</label>
                <textarea class="input-field" name="message" required></textarea>

                <input id="submit-btn" type="submit" value="Wyślij">
                <div id="tel">
                    <label>Bezpośredni kontakt: +48 506-716-287 lub wrblmaciej@gmail.com</label>
                </div>
            </form>
        </div>
    </section>
{%block script%}
    <script type="text/javascript" src="{% static 'js/script.js' %}">

    </script>
{% endblock %}
</body>
</html>